<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>POSTリクエストのテスト</title>
</head>
<body>
    <p>ファイルをPOSTで送信</p>
    <form action="{% url 'files' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="送信">
    </form>
    <table border="1">
        <tr>
            <td>POST送信されたメッセージ</td>
            <td>{{file_obj|safe}}</td>
        </tr>
    </table>
    <a href="{% url 'index' %}">戻る</a>
</body>
</html>