<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PUTを送信してみる</title>
</head>
<body>
    <h1>PUTを送信してみる</h1>
    <p>開発者ツールのResponseの中身を確認する</p>
    <p>&lt;td2&gt;にテキストフォームの値が返ってきている（63行目）</p>
</body>
<script>
    window.addEventListener('load', init);
    
    //初期化
    function init() {
        createForm();
        createTable();
        createAnchor();
        createEvent(); 
    }

    //formを動的に生成
    function createForm(){
        var form = document.createElement('form');
        var inputText = document.createElement('input');
        var button = document.createElement('button');
        var csrf = document.createElement('input');

        form.method = 'POST';
        form.action = "{% url 'put' %}";
        form.id = 'form';
    
        inputText.type = 'text';
        inputText.name = 'put_text';
        inputText.id = 'put_text';

        button.type = 'button';
        button.id = 'btn';
        button.innerHTML = 'PUTリクエスト';

        csrf.type = 'hidden';
        csrf.name = 'csrfmiddlewaretoken';
        csrf.value = '{{ csrf_token }}';

        form.appendChild(csrf);
        form.appendChild(inputText);
        form.appendChild(button);
        document.body.appendChild(form);

        
    }

    //Tableを動的に生成
    function createTable(){
        var table = document.createElement('table');
        var tr = document.createElement('tr');
        var td1 = document.createElement('td');
        var td2 = document.createElement('td');

        td1.innerHTML = 'PUT送信されたメッセージ';
        td2.innerHTML = '{{ put_text | safe }}';

        tr.appendChild(td1);
        tr.appendChild(td2);
        table.appendChild(tr);
        document.body.appendChild(table)
    }

    //Anchorを動的に生成
    function createAnchor(){
        var anchor = document.createElement('a');
        anchor.href = "{% url 'index' %}";
        anchor.innerHTML = '戻る';
        document.body.appendChild(anchor);
    }

    

    //イベント作成
    function createEvent(){
        const btn = document.querySelector('button');
        btn.addEventListener('click', function(){

            //cookieを解析（コピペ）
            function parse_cookies() {
                var cookies = {};
                if (document.cookie && document.cookie !== '') {
                    document.cookie.split(';').forEach(function (c) {
                        var m = c.trim().match(/(\w+)=(.*)/);
                        if(m !== undefined) {
                            cookies[m[1]] = decodeURIComponent(m[2]);
                        }
                    });
                }
                return cookies;
            }

            var cookies = parse_cookies(); 
            console.log(cookies);

            var xhr = new XMLHttpRequest();

            put_text = document.getElementById('put_text').value;
            
            xhr.open('PUT', "{% url 'put' %}");
            xhr.setRequestHeader('X-CSRFToken', cookies['csrftoken']);
            xhr.send(put_text);
        })
    }
</script>
</html>
